{% extends 'layout.html' %}

{% block body %}
<p class="post">I am just we. We do that and then those did. Can do it Many Is You where Canot be Do when The Lord Food My refuge</p>
 <tt>I really love dogs and cats. Here is some of my correction.</tt>
 <div class="mypics">
    <ul>
        <li><img src="{{ url_for('static', filename='mypic1.jpg') }}"></li>
        <li><img src="{{ url_for('static', filename='mypic2.jpg') }}"></li>
        <li><img src="{{ url_for('static', filename='mypic3.jpg') }}"></li>
        <li><img src="{{ url_for('static', filename='mypic4.jpg') }}"></li>
        <li><img src="{{ url_for('static', filename='mypic5.jpg') }}"></li>
        <li><img src="{{ url_for('static', filename='mypic6.jpg') }}"></li>
        <li><img src="{{ url_for('static', filename='mypic7.jpg') }}"></li>
        <li><img src="{{ url_for('static', filename='mypic8.jpg') }}"></li>
    </ul>
 </div>
 {% endblock body %}